<div class="auth-page">

  <form
    class="auth-card"
    (ngSubmit)="changePassword()"
  >

    <div class="auth-heading">

      <h1>Kütüphane Sistemi</h1>

      <h2>Parolamı Değiştir</h2>

    </div>


    @if (successMessage()) {

      <div class="success-content">

        <div
          class="success-icon"
          aria-hidden="true"
        >
          ✓
        </div>

        <div class="success-message">
          {{ successMessage() }}
        </div>

        <p>
          Giriş ekranına yönlendiriliyorsunuz...
        </p>

      </div>

    } @else {

      <div class="form-field">

        <label for="currentPassword">
          Mevcut Parola
        </label>

        <p-password
          inputId="currentPassword"
          name="currentPassword"
          [(ngModel)]="currentPassword"
          [feedback]="false"
          [toggleMask]="true"
          autocomplete="current-password"
          placeholder="Mevcut parolanız"
        ></p-password>

      </div>


      <div class="form-field">

        <label for="newPassword">
          Yeni Parola
        </label>

        <p-password
          inputId="newPassword"
          name="newPassword"
          [(ngModel)]="newPassword"
          [feedback]="true"
          [toggleMask]="true"
          autocomplete="new-password"
          placeholder="Yeni parolanız"
        ></p-password>

      </div>


      <div class="form-field">

        <label for="confirmNewPassword">
          Yeni Parola Tekrarı
        </label>

        <p-password
          inputId="confirmNewPassword"
          name="confirmNewPassword"
          [(ngModel)]="confirmNewPassword"
          [feedback]="false"
          [toggleMask]="true"
          autocomplete="new-password"
          placeholder="Yeni parolanızı tekrar girin"
        ></p-password>

      </div>


      @if (errorMessage()) {

        <div class="error-message">
          {{ errorMessage() }}
        </div>

      }


      <p-button
        type="submit"
        label="Parolamı Değiştir"
        [loading]="loading()"
        [disabled]="loading()"
        styleClass="submit-button"
      ></p-button>

    }


    <div class="auth-switch-link">

      <a routerLink="/books">
        Kitap listesine dön
      </a>

    </div>

  </form>

</div>